# ============================================================
# Simulación Verilog / Icarus
# ============================================================
sim_bit_reverse
sim_ram
sim_perm
sim_perm_1024
sim_ready_pause
*.vcd
*.out
*.fst

# ============================================================
# GTKWave
# ============================================================
*.gtkw
*.sav

# ============================================================
# Python
# ============================================================
__pycache__/
*.pyc

# ============================================================
# Archivos temporales
# ============================================================
*.log
*.tmp
*.bak
*~

# ============================================================
# VS Code
# ============================================================
.vscode/

# ============================================================
# Sistema operativo
# ============================================================
.DS_Store
Thumbs.db